{% extends 'base.html' %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock  %}

{% block content %}
<style>
    .content-container {
        background-color: black;
        color: white;
        padding: 20px;
        border-radius: 10px;
    }
</style>

<div class="content-container">
    <h2>Оплата і Доставка</h2>
    <h3>Про доставку:</h3>
    <p>Шановні клієнти!
        Розуміємо, що ви можете стояти перед вибором, як оплачувати свої замовлення. Щоб зробити процес вибору більш інформованим, нижче ми пропонуємо короткий огляд переваг і недоліків двох основних варіантів оплати: Предоплата та Оплата при отриманні.
        Передоплата:
        Плюси:

            Гарантія замовлення: Оплата передпочасно дозволяє нам гарантувати наявність товарів або послуг для вас.
            Пріоритетне обслуговування: Замовлення з передоплатою отримують пріоритет у виконанні та доставці.
        Мінуси:
            Ризик невідомості: Деякі клієнти можуть відчувати ризик, особливо якщо це перший раз взагалі роблять покупку.
        Оплата при отриманні:
        Плюси:
            Додаткова впевненість: Ви можете перевірити товар або послугу перед оплатою, що додає вам впевненість.
            Зменшений ризик: Клієнти можуть відчувати себе більш захищеними, оплачуючи лише після отримання товару.
        Мінуси:
            Ризик недостатньої наявності: Деякі популярні товари можуть вичерпатися, адже нам не завжди вдається підтримувати великі обсяги товарів без передоплати.
            Затримка в обробці: Процес обробки може зайняти більше часу через додаткові етапи підтвердження оплати.
        Ваш вибір:
        Ми поважаємо ваш вибір і надаємо можливість обрати опцію, яка найбільше відповідає вашим потребам. Обов'язково враховуйте специфіку свого замовлення, ваші уподобання та рівень комфорту.
        Будь-який варіант оплати є прийнятним для нас, і ми завжди готові відповісти на будь-які ваші питання. Дякуємо за вибір наших товарів!
        З найкращими побажаннями,Sandy)</p>
</div>
{% endblock %}
