{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1 class="mt-5 pt-5"><strong>{{ content }}</strong></h1>
        <div class="row">
            <div class="col-md-8">
                <!-- Bootstrap Card Component for Reviews -->
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Користувач 1</h5>
                        <p class="card-text">Відгук користувача 1.</p>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Користувач 2</h5>
                        <p class="card-text">Відгук користувача 2.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
